html, body {
	margin: 0;
	padding: 0;

}

#wrap {
	background: white;
	height: 100vh;
	width: 100vw;
	display:inline-grid;


}


.home_logout_banner{
	text-align: center;
	height:150px;
	background-image: url('https://res.cloudinary.com/dluvhjltn/image/upload/v1562859201/twitter/twitter_q7ddoz.jpg');
	padding:0px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;

}

.Tortuga_twitter_page{

}

.logout_button{
	background-color: green;
}
